{% extends '@Site/layout.html.twig' %}

{% block title %} - Register an Account {% endblock %}

{% block content %}
    <div class="row">
        {% include '@Site/breadcrumbs.html.twig' with breadcrumbs %}
        <div class="col s6">
            <h2 class="right-align thin_font">
                Payment Success
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col s8 offset-s2 center-align text_message_templates margin_top_messages">
            <div class="gross_font blue_color">
                Your payment was made successfully.
            </div>
            <br />
            <div class="left-align col s12">
                The project information is:
            </div>
            <div class="right-align col s6 gross_font">
                Project Name:
            </div>
            <div class="col s6 left-align">
                {{ postName }}
            </div>
            <div class="col s6 gross_font right-align">
                Description:
            </div>
            <div class="col s6 left-align">
                {{ description }}
            </div>
            <div class="col s6 gross_font right-align">
                Money Bid:
            </div>
            <div class="col s6 left-align">
                {{ moneybidder }}
            </div>
            <div class="col s6 right-align gross_font">
                Username Owner:
            </div>
            <div class="col s6 left-align">
                {{ username }}
            </div>
            <div class="col s6 right-align gross_font">
                Email Owner:
            </div>
            <div class="col s6 left-align">
                {{ email }}
            </div>
            <div class="col s6 right-align gross_font">
                Name Owner:
            </div>
            <div class="col s6 left-align">
                {{ name }}
            </div>
            <div>&nbsp;</div>
            <div>
                    Thanks for using <a href="{{ path('indexpage') }}"> contractorsbids.com</a>
            </div>
            <br />
        </div>
    </div>
{% endblock %}
