{% extends '@Site/layout.html.twig' %}

{% block content %}
    <div class="row">
        {% include '@Site/breadcrumbs.html.twig' with breadcrumbs %}
        <div class="col s6">
            <h2 class="right-align thin_font">
                Activate Account
            </h2>
        </div>
    </div>
    {% if validMessage == 'success' %}
        <div class="margin_top_messages">
            <div class="row center success_color">
                <div class="col s12 color_text_white">
                    <div class="col s1">
                        <p class="center-align">
                            <img src="{{ asset('bundles/site/images/website/success.png') }}" width="60" height="75" />
                        </p>
                    </div>
                    <div class="col s11">
                        <p class="text_message_templates left-align valign-wrapper gross_font">
                            Account activated successfully.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row thin_font text_message_inner_message_template blue_color">
                <div class="col s12">
                    Your account has been activated successfully
                </div>
                <div class="col s12">
                    If you want to login in the site, please click <a href="{{ path('login') }}">here</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="margin_top_messages">
            <div class="row center error_color">
                <div class="col s12 color_text_white">
                    <div class="col s1">
                        <p class="center-align">
                            <img src="{{ asset('bundles/site/images/website/delete.png') }}" width="70" height="70" />
                        </p>
                    </div>
                    <div class="col s11">
                        <p class="text_message_templates left-align valign-wrapper gross_font">
                            Error! The account has not been activated.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row thin_font text_message_inner_message_template blue_color">
                <div class="col s12">
                    Your account has not been activated
                </div>
                <div class="col s12">
                    Please to receive support and activate you account, contact <a href="{{ path('contact') }}">here</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
