{% extends '@Site/layout.html.twig' %}

{% block content %}
    <div>
        <h1>Register Form</h1>
        <form>
            <div class="">
            </div>
        </form>
    </div>
{% endblock %}
