<div class="eight wide column center thin_font">
    <div class="ui breadcrumb">
        {% if breadcrumbs %}
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb.url is defined %}
                    <a class="section" href="{{ path(breadcrumb.url) }}">
                        {{ breadcrumb.label }}
                    </a>
                    <i class="right angle icon divider"></i>
                {% else %}
                    <div class="active section">
                        {{ breadcrumb.label }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
