<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <link rel="icon" type="text/x-icon" href="{{ asset('bundles/site/images/website/favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/css/libs/semantic.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/css/libs/normalize.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/css/custom/custom.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/css/custom/colors.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/css/custom/links.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/css/custom/dropdown.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/css/custom/fonts.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/css/custom/margins.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/css/custom/loader.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/css/custom/components.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/css/libs/unite-gallery.css') }}" />
        <title> ContractorBids.com {% block title %}{% endblock %}</title>
        {% block stylesheet %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- START SEMANTIC UI JS -->
        <script src="{{ asset('bundles/site/js/libs/semantic.min.js') }}"></script>
        <script src="{{ asset('bundles/site/js/libs/unitegallery.min.js') }}"></script>
        <script src="{{ asset('bundles/site/js/libs/ug-theme-grid.js') }}"></script>
        <!-- START SEMANTUC UI JS -->
        <!--script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script-->
        <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        {% block javascript %}{% endblock %}
        {% block reactlibraries %}{% endblock %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% if WEBROOT is defined %}
            <script>window.$PATH = "{{ WEBROOT }}"</script>
        {% endif %}

    </head>
    <body>
        <!-- div for overlay -->
        <div id="overlay"></div>
        <div id="overlay_loader">
            <div class="ui active dimmer">
                <div class="ui massive text loader">
                    <p>Loading.....</p>
                    <p>Please wait a moment....</p>
                </div>
            </div>
        </div>

        <!-- Modal block layout -->
        <div class="ui modal">
            <div class="header center aligned blue_color gross_font" id="title">
            </div>
            <div class="scrolling content thin_font">
                <p id="dataValue"></p>
            </div>
            <div class="actions">
                <div class="ui negative deny button">
                    <i class="window close icon"></i>
                    Close
                </div>
            </div>
        </div>
        <!-- modal block layout -->

        <header class="ui header segment margin-no-margin blue_color_background round_borders" id="header_img_layout">
            <div class="ui container">
                <div class="ui grid">
                    <div class="five wide column">
                        <a href="{{ path('indexpage') }}">
                            <img src="{{ asset('bundles/site/images/website/logo.png') }}" alt="logo" />
                        </a>
                    </div>
                    <div class="eleven wide column">
                        {% if app.user %}
                            <div class="ui text menu">
                                <div class="ui right dropdown colors_links item">
                                    <span class="welcome_class">
                                        <span>
                                            Welcome
                                        </span>
                                        <span style="margin-left: 5px">
                                            {{ app.user.username }}!
                                        </span>
                                    </span>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div class="item">
                                            <a href="{{ path('users_info', { 'id': app.user.id }) }}">
                                                Personal Information
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="{{ path('logout') }}">
                                                Logout
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <a href="{{ path('login') }}" class="ui white basic right floated button top_space_buttons_header">
                                Sign In
                            </a>
                            <a href="{{ path('register') }}" class="ui white basic right floated button top_space_buttons_header">
                                Sign Up
                            </a>
                            <div class="clearfix"></div>
                        {% endif %}
                    </div>
                </div>
                <div class="ui center aligned grid">
                    <div class="five wide column thin_font">
                        <a href="{{ path('how_it_works') }}" class="links_hover">
                            How it works?
                        </a>
                    </div>
                    <div class="five wide column thin_font">
                        <a href="{{ path('about') }}" class="links_hover">
                            About us
                        </a>
                    </div>
                    <div class="five wide column">
                        <a href="{{ path('contact') }}" class="links_hover">
                            Contact us
                        </a>
                    </div>
                    <div class="one wide column">&nbsp;</div>
                </div>
            </div>
        </header>
        <div class="ui segment blue_color_background round_borders margin-no-margin">
            <div class="ui menu blue_color_background border_color_menus">
                <dv class="ui container">
                    <div class="ui border-right-color border_color_menus simple dropdown item colors_links">
                        Projects
                        <i class="dropdown icon"></i>
                        <div class="menu blue_color_background border_color_menus">
                            {% if app.user %}
                                <a href="{{ path('web_projects_dashboard', { 'id': app.user.id }) }}" class="item colors_links">
                                    Dashboard
                                </a>
                                <a href="{{ path('web_projects_create') }}" class="item colors_links">
                                    Create a Project
                                </a>
                                <a href="{{ path('paid_projects_done') }}" class="item colors_links">
                                    Paid Projects
                                </a>
                                <a href="{{ path('paid_projects_pending') }}" class="item colors_links">
                                    Pending Projects
                                </a>
                            {% endif %}
                                <a href="{{ path('web_projects_search') }}" class="colors_links item">
                                    Search a Project
                                </a>
                        </div>
                    </div>
                    {% if app.user %}
                        <div class="ui border-right-color border_color_menus simple dropdown item colors_links">
                            Bids
                            <i class="dropdown icon"></i>
                            <div class="menu blue_color_background border_color_menus">
                                <a href="{{ path('my_bids') }}" class="item colors_links">
                                    My Bids
                                </a>
                                <a href="{{ path('end_bids') }}" class="item colors_links">
                                    End Bids
                                </a>
                            </div>
                        </div>
                        {% if app.user.isAdmin == 1 %}
                            <div class="ui border-right-color border_color_menus simple dropdown item colors_links">
                                Admin
                                <i class="dropdown icon"></i>
                                <div class="menu blue_color_background border_color_menus">
                                    <a href="{{ path('admin_list_section') }}" class="item colors_links">
                                        Panel Admin
                                    </a>
                                    <a href="{{ path('admin_fake_projects') }}" class="item colors_links">
                                        Jobs Reported
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="ui container">
            <div class="ui grid">
                {% block content %}{% endblock %}
            </div>
        </div>

        <!-- footer -->
        <div class="ui footer segment green_color_background round_borders">
            <div class="ui container">
                <div class="ui grid">
                    <div class="three column row">
                        <div class="four wide column" style="padding-top: 10px">
                            <a href="">
                                <img src="{{ asset('bundles/site/images/website/facebook.png') }}" width="40"
                                     height="40" alt="Twitter Social Network" />
                            </a>
                            <a href="">
                                <img src="{{ asset('bundles/site/images/website/twitter.png') }}" width="40"
                                     height="40" alt="Twitter Social Network" />
                            </a>
                        </div>
                        <div class="eight wide column color_text_white">
                            <h2 class="gross_font" style="padding-top: 15px">
                                "THE PROJECT THAT YOU WAS LOOKING FOR IS HERE"
                            </h2>
                        </div>
                        <div class="four wide column">&nbsp;</div>
                    </div>
                    <div class="three column row">
                        <div class="four wide column">&nbsp;</div>
                        <div class="eight wide column thin_font color_text_white font-size-link-footer">
                            <a href="{{ path('how_it_works') }}" class="links_hover">
                                How it works
                            </a> |
                            <a href="{{ path('about') }}" class="links_hover">
                                About us
                            </a> |
                            <a href="{{ path('contact') }}" class="links_hover">
                                Contact us
                            </a>
                            |
                            <a href="{{ path('termsconditions') }}" class="links_hover">
                                Terms and Conditions
                            </a>
                        </div>
                        <div class="four wide column">&nbsp;</div>
                    </div>
                    <div class="one column row thin_font">
                        <h3 class="color_text_white">
                            © 2018 Copyright thecontractordepots.com
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- load js libraries -->
        <script type="text/javascript" id="scripts"
                                       src="{{ asset('bundles/site/js/libs/loader.js') }}"
                                       data-path="{{ asset('bundles/site/js') }}"
                                       data-script="{% block libraries %}{% endblock %}"></script>
    </body>
</html>
