<html>
    <body>
        <!-- template header -->
        <div style="width: 100%; height: auto; background-color: #589BB4">
            <div style="padding-top: 15px; padding-bottom: 15px; padding-left: 25px">
                <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/site/images/website/logo.png') }}" alt="logo" />
            </div>
        </div>
        <!-- template body -->
        <div>
            {% block content %}
            {% endblock %}
        </div>
        <!-- template footer -->
        <div style="width: 100%; height: 50px; background-color: #57B17C">
            <div style="padding-top: 15px; color: #FFFFFF">
                <center>
                    "THE PROJECT THAT YOU WAS LOOKING FOR IS HERE"
                </center>
            </div>
        </div>
    </body>
</html>
