{% extends '@API/layoutemail.html.twig' %}

{% block content %}
    <div style="text-align: justify; margin-left: 50px; margin-top: 50px; margin-bottom: 50px; color: #589BB4 !important;">
        <strong style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            Hi {{ user }},
        </strong>
        <br />
        <div style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            You has got a bid for your project.
            <br />
            The following are the details of the bid:
            <br /><br />
            Project Name: {{ projectname }} <br />
            Username: {{ username }} <br />
            Bid: {{ bids }} <br />
            <br />
            <br />
            If you want to see all the bids, please go to "Review Bids" section to see all the bids have been
            done for your projects.
            <br />
            Best Regards!
            <br />
            <br />
            Support Team ({{ supportTeam }})
        </div>
    </div>
{% endblock %}
