{% extends '@API/layoutemail.html.twig' %}

{% block content %}
    <div style="text-align: justify; margin-left: 50px; margin-top: 50px; margin-bottom: 50px; color: #589BB4 !important;">
        <strong style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            Hi {{ user }},
        </strong>
        <br />
        <div style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            Your bid has been done in the project {{ projectName }}.
            <br />
            The information if the projects are:
            <br /><br />
            Project: {{ projectName }} <br />
            Owner Username: {{ username }} <br />
            Category: {{ category }} <br />
            City: {{ city }} <br />
            Your Bid: {{ bids }}
            <br />
            <br />
            Best Regards!
            <br />
            <br />
            Support Team ({{ supportTeam }})
        </div>
    </div>
{% endblock %}
