{% extends '@API/layoutemail.html.twig' %}

{% block content %}
    <div style="text-align: justify; margin-left: 50px; margin-top: 50px; margin-bottom: 50px; color: #589BB4 !important;">
        <strong style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            Hi {{ username }},
        </strong>
        <br />
        <div style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            The payment for the project you won has been done.
            <br />
            The information of the project you won are:
            <br /><br />
            Project Name: {{ projectname }} <br />
            Username Owner: {{ usernameOwner }} <b />
            Name Owner: {{ nameuserOwner }} <br />
            Bid Accepted: {{ bid }} <br />
            <br />
            <br />
            Your information is:
            <br />
            <br />
            Your Name: {{ nameuser }}
            Your Username: {{ username }}
            Your Email: {{ userEmail }}
            <br />
            <br />
            Congratulations, soon the owner of the project will contact you!
            <br />
            Best Regards!
            <br />
            <br />
            Support Team ({{ supportTeam }})
        </div>
    </div>
{% endblock %}
