{% extends '@API/layoutemail.html.twig' %}

{% block content %}
    <div style="text-align: justify; margin-left: 50px; margin-top: 50px; margin-bottom: 50px; color: #589BB4 !important;">
        <strong style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            Hi Support Team,
        </strong>
        <br />
        <div style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            One user has sent a message. The information of the user is below:
            <br /><br />
            Subject: {{ subjects }} <br />
            Email: {{ emailU }} <br />
            Phone (Optional): {{ phone }} <br />
            Comment: {{ comments }}
            <br />
            <br />
            In case the contact is due to an issue in the platform, please contact the user as soon as possible.
            <br />
            Best Regards!
            <br />
            <br />
            Support Team! ({{ supportTeam }})
        </div>
    </div>
{% endblock %}
