{% extends '@API/layoutemail.html.twig' %}

{% block content %}
    <div style="text-align: justify; margin-left: 50px; margin-top: 50px; margin-bottom: 50px; color: #589BB4 !important;">
        <strong style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            Hi {{ username }},
        </strong>
        <br />
        <div style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            Your bid for the following project has been declined.
            <br />
            The information of the project is below:
            <br /><br />
            Project Name: {{ projectname }} <br />
            Your bid: {{ bid }} <br />
            <br />
            <br />
            You could make another bid if you wish in case the projects is still available to make a bid.
            <br />
            Best Regards!
            <br />
            <br />
            Support Team ({{ supportTeam }})
        </div>
    </div>
{% endblock %}
