{% extends '@API/layoutemail.html.twig' %}

{% block content %}
    <div style="text-align: justify; margin-left: 50px; margin-top: 50px; margin-bottom: 50px; color: #589BB4 !important;">
        <strong style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            Hi {{ username }},
        </strong>
        <br />
        <div style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            Your project has been reported as fake:
            <br />
            <br />
            <strong>Data of the project has been reported as fake:</strong>
            <br />
            <br />
            Post Name: {{ posts.postname }} <br />
            Description: {{ posts.description}} <br />
            <br />
            <br />
            <strong>Data of the user has reported your project as fake:</strong>
            <br />
            <br />
            Name: {{ users.name }} <br />
            Email: {{ users.email }} <br />
            Username: {{ users.username }} <br />
            <br />
            <br />
            <br />
            If you have any issue or complain, please contact {{ supportTeam }}.
            <br />
            <br />
            Best Regards!
        </div>
    </div>
{% endblock %}
