{% extends '@API/layoutemail.html.twig' %}

{% block content %}
    <div style="text-align: justify; margin-left: 50px; margin-top: 50px; margin-bottom: 50px; color: #589BB4 !important;">
        <strong style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            Hi Support Team,
        </strong>
        <br />
        <div style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            The following project has been reported as fake:
            <br />
            <br />
            <strong>Data of the user has reported the project as fake:</strong>
            <br />
            <br />
            Name: {{ users.name }} <br />
            Email: {{ users.email }} <br />
            Username: {{ users.username }} <br />
            <br />
            <br />
            <br />
            <strong>Data of the project has been reported as fake:</strong>
            <br />
            <br />
            Post Name: {{ posts.postname }} <br />
            Description: {{ posts.description}} <br />
            Owner Name: {{ posts.user.name }} <br />
            Owner Email: {{ posts.user.email }} <br />
            Owner Username: {{ posts.user.username }}<br />
            <br />
            <br />
            Best Regards!
        </div>
    </div>
{% endblock %}
