{% extends '@API/layoutemail.html.twig' %}

{% block content %}
    <div style="text-align: justify; margin-left: 50px; margin-top: 50px; margin-bottom: 50px; color: #589BB4 !important;">
        <strong style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            Hi {{ nameuser }},
        </strong><br /><br />
        <div style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            Thank you for registering in Contractors Bids site.<br />
            The following information will be used for your log in:<br />
            <br />
            <br />
                Username: {{ username }} <br />
                Email: {{ userEmail }} <br />
                Phone #: {{ userphone }}
            <br />
            <br />
            Before you start using the platform to create your projects or do bid on a project, please validate your account
            clicking the link below.
            <br />
            <br />
            <a href="{{ url }}">
                {{ url }}
            </a>
            <br />
            <br />
            Thank you for joining ContractorsBids.com
            <br />
            Best Regards!
            <br />
            Support Team ({{ supportTeam }})
        </div>
    </div>
{% endblock %}
