{% extends '@API/layoutemail.html.twig' %}

{% block content %}
    <div style="text-align: justify; margin-left: 50px; margin-top: 50px; margin-bottom: 50px; color: #589BB4 !important;">
        <strong style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            Hi {{ username }},
        </strong><br /><br />
        <div style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            Your password has been updated successfully.
            <br />
            If you want to login in the site contractorsbids.com, please click <a href="{{ url }}">here</a>.
            <br />
            <br />
            Best Regards!
            <br />
            Atte. Support Team ({{ supportTeam }}).
        </div>
    </div>
{% endblock %}
