{% extends '@API/layoutemail.html.twig' %}

{% block content %}
    <div style="text-align: justify; margin-left: 50px; margin-top: 50px; margin-bottom: 50px; color: #589BB4 !important;">
        <strong style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            Hi {{ username }},
        </strong>
        <br />
        <div style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            The user {{ userName2 }} has publish one comment in your project:
            <br /><br />
            Project Name: {{ project }} <br />
            User Published: {{ userName2 }} <br />
            Title: {{ title }} <br />
            Comment: {{ comments }}
            <br />
            <br />
            If you want to reply a message, please go to the project and reply the comment!
            <br />
            Best Regards!
            <br />
            <br />
            Support Team ({{ supportTeam }})
        </div>
    </div>
{% endblock %}
