{% extends '@API/layoutemail.html.twig' %}

{% block content %}
    <div style="text-align: justify; margin-left: 50px; margin-top: 50px; margin-bottom: 50px; color: #589BB4 !important;">
        <strong style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            Hi {{ userEmail }},
        </strong><br /><br />
        <div style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            You has requested the reset of your password.<br />
            Please for finishing the process, click in the following link or copy and paste in the browser window:
            <br />
            <br />
            <a href="{{ url }}">
                {{ url }}
            </a>
            <br />
            <br />
            If you haven't requested the change of password, please ignore the email.
            <br />
            <br />
            Best Regards!
            <br />
            Atte. Support Team ({{ supportTeam }}).
        </div>
    </div>
{% endblock %}
