{% extends '@API/layoutemail.html.twig' %}

{% block content %}
    <div style="text-align: justify; margin-left: 50px; margin-top: 50px; margin-bottom: 50px; color: #589BB4 !important;">
        <strong style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            Hi {{ userEmail }},
        </strong>
        <div style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            You're comments has been sent to our team support.
            <br /><br />
            The following information has been sent for you:
            <br /><br />
            Subject: {{ subjects }} <br />
            Email: {{ userEmail }} <br />
            Phone (Optional): {{ phone }} <br />
            Comments: {{ comments }}
            <br />
            We will reach you as soon possible otherwise please contact support team in the email "{{ supportTeam }}".
            <br />
            Best Regards!
            <br />
            <br />
            Atte. Support Team.
        </div>
    </div>
{% endblock %}
