{% extends '@API/layoutemail.html.twig' %}

{% block content %}
    <div style="text-align: justify; margin-left: 50px; margin-top: 50px; margin-bottom: 50px; color: #589BB4 !important;">
        <strong style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            Hi {{ nameuser }},
        </strong>
        <br />
        <div style="font-size: 1.2em; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;">
            The user {{ userComment }} has made a comment:
            <br /><br />
            Project Name: {{ projectname }} <br />
            Comment: {{ commentDone }}
            <br />
            <br />
            Please login to contractorbids.com and reply the comments.
            <br />
            If you have any issue please contact support team using contact form or sending email to {{ supportTeam }}.
            <br /><br />
            Best Regards!
        </div>
    </div>
{% endblock %}
