{% extends '@Site/layout.html.twig' %}

{% block title %} - Contact Us {% endblock %}

{% block content %}
    <div class="row">
        {% include '@Site/breadcrumbs.html.twig' with breadcrumbs %}
        <div class="col s6">
            <h2 class="right-align thin_font">
                Contact Us!
            </h2>
        </div>
    </div>

    <input type="hidden" id="_csrf_token" name="_csrf_token" value="{{ token }}" />
    <input type="hidden" id="name" name="name" value="{{ name }}" />
    <input type="hidden" id="source" name="sourceForm" value="{{ source }}" />
    <div id="app_contact" class="top_space"></div>
{% endblock %}

{% block reactlibraries %}
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/loading.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/input.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/tel.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/email.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/textarea.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/errors.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/successMessage.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/website/contact.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/website/react-contact.js') }}"></script>
{% endblock %}
