{% extends '@Site/layout.html.twig' %}

{% block title %} - Users Information {% endblock %}

{% block content %}
    <div class="row">
        {% include '@Site/breadcrumbs.html.twig' with breadcrumbs %}
        <div class="col s6">
            <h2 class="right-align thin_font">
                Projects Paid
            </h2>
        </div>
    </div>
    <div class="row">
        <input type="hidden" id="_csrf_token" name="_csrf_token" value="{{ token }}" />
        <input type="hidden" id="name" name="name" value="{{ name }}" />
        <input type="hidden" id="source" name="sourceForm" value="{{ source }}" />
        <div id="app"></div>
    </div>
{% endblock %}

{% block reactlibraries %}
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/errors.js') }}"></script
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/successMessage.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/payments/done/paymentsDone.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/payments/done/react-paymentsDone.js') }}"></script>
{% endblock %}
