{% extends '@Site/layout.html.twig' %}

{% block title %} - Bids Finished {% endblock %}

{% block content %}
    <div class="row">
        {% include '@Site/breadcrumbs.html.twig' with breadcrumbs %}
        <div class="col s6">
            <h2 class="right-align thin_font">
                End Bids
            </h2>
        </div>
    </div>
    <div class="row">
        <input type="hidden" id="userId" name="userId" value="{{ app.user.id }}" />
        <input type="hidden" id="source" name="sourceForm" value="{{ source }}" />
        <div id="app"></div>
    </div>
{% endblock %}

{% block reactlibraries %}
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/errors.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/successMessage.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/bids/endBids/endBids.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/bids/endBids/react-endBids.js') }}"></script>
{% endblock %}
