{% extends '@Site/layout.html.twig' %}

{% block content %}
    <div class="row">
        {% include '@Site/breadcrumbs.html.twig' with breadcrumbs %}
        <div class="col s6">
            <h2 class="right-align thin_font">
                Report Fake Projects
            </h2>
        </div>
    </div>
    <div class="row">
        <input type="hidden" id="_id" value="{{ app.user.id }}" />
        <input type="hidden" id="_source" value="{{source}}" />
        <div id="app"></div>
    </div>
{% endblock %}

{% block reactlibraries %}
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/errors.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/successMessage.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/admin/fakeProjects/fakeProjects.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/admin/fakeProjects/react-fake.js') }}"></script>
{% endblock %}
