{% extends '@Site/layout.html.twig' %}

{% block title %} - Home {% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <div class="slider">
                <ul class="slides">
                    {% for banner in banners %}
                        <li>
                            {% if banner.typeFile == 0 %}
                                <img src="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/{{ banner.file }}" alt="{{ banner.description }}">
                            {% else %}
                                {% if (banner.file != "" and banner.extension != '' and banner.extension not in imagesA) %}
                                    <div class="">
                                        <iframe width="100%" height="398"
                                                src="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/{{ banner.file }}"
                                                frameborder="0" allowfullscreen></iframe>
                                    </div>
                                {% else %}
                                    <div class="">
                                        <iframe width="100%" height="398" src="{{ banner.url }}"
                                                frameborder="0" allowfullscreen></iframe>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col s12">
            <div class="blue_color gross_font center font-size-title">
                Learn more about Contractors Bids
            </div>
            <div class="blue_color thin_font font-size-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque finibus tincidunt metus. Aliquam erat volutpat.
                In placerat elementum erat, nec gravida dui sodales a. Nulla malesuada eget urna rhoncus tempus. Sed sit amet finibus
                urna, eget laoreet mi. Aenean fermentum tortor quis tristique viverra. Etiam sodales quam non laoreet vulputate.
                Mauris ac tellus et dui iaculis porttitor quis eu justo. Vestibulum accumsan sit amet dolor ut rutrum. Integer
                bibendum mauris sapien.
                In placerat elementum erat, nec gravida dui sodales a. Nulla malesuada eget urna rhoncus tempus. Sed sit amet finibus
                urna, eget laoreet mi. Aenean fermentum tortor quis tristique viverra. Etiam sodales quam non laoreet vulputate.
                Mauris ac tellus et dui iaculis porttitor quis eu justo. Vestibulum accumsan sit amet dolor ut rutrum. Integer
                bibendum mauris sapien.
                In placerat elementum erat, nec gravida dui sodales a. Nulla malesuada eget urna rhoncus tempus. Sed sit amet finibus
                urna, eget laoreet mi. Aenean fermentum tortor quis tristique viverra. Etiam sodales quam non laoreet vulputate.
                Mauris ac tellus et dui iaculis porttitor quis eu justo. Vestibulum accumsan sit amet dolor ut rutrum. Integer
                bibendum mauris sapien.
            </div>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row gross_font blue_color font-size-title">
        Recent Projects ....
    </div>
    <div class="row">
        {% if totalPost != 0 %}
            {% for post in posts %}
                <div class="col s6">
                    <div class="card small hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/{{ asset(post.path) }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator thin_font blue_color">
                                {{ post.post_name }} <i class="material-icons right">more_vert</i>
                            </span>
                            <p>
                                <a href="{{ path('web_post_show', { id: post.id_post }) }}" class="right thin_font links_hover_blue">
                                    Project Details
                                </a>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title thin_font blue_color">
                                <i class="material-icons right">close</i>
                                {{ post.post_name }}
                            </span>
                            <p class="thin_font blue_color">
                                {{ post.description }}
                            </p>
                        </div>
                      </div>
                </div>
            {% endfor %}

            <div class="col s12 right-align font-size-title">
                <a class="links_hover_blue" href="{{ path('web_posts_search') }}">
                    See more projects
                </a>
            </div>
        {% else %}
            <div class="col s12 center thin_font font-size-body blue_color">
                <b>
                    There are no open projects currently
                </b>
            </div>
        {% endif %}
    </div>
{% endblock %}


<div class="card small hoverable">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/{{ asset(post.path) }}">
    </div>
    <div class="card-content">
        <span class="card-title activator thin_font blue_color">
            {{ post.post_name }} <i class="material-icons right">more_vert</i>
        </span>
        <p>
            <a href="{{ path('web_post_show', { id: post.id_post }) }}" class="right thin_font links_hover_blue">
                Project Details
            </a>
        </p>
    </div>
    <div class="card-reveal">
        <span class="card-title thin_font blue_color">
            <i class="material-icons right">close</i>
            {{ post.post_name }}
        </span>
        <p class="thin_font blue_color">
            {{ post.description }}
        </p>
    </div>
  </div>
