<!-- div for overlay -->
<div id="overlay"></div>

<!-- div modal confirm -->
<div class="">
    <div class="col s6 offset-s3">
        <div id="confirmModal" class="modal">
            <div class="modal-content">
                <h4 id="messageTitle"></h4>
                <p id="messageText"></p>
            </div>
            <div class="modal-footer" id="buttons">
            </div>
        </div>
    </div>
</div>
<!-- div modal confirm -->

<!-- div modal -->
<div class="">
    <div class="col s6 offset-s3">
        <div id="globalModal" class="modal">
            <div class="modal-content">
              <h4 id="title" class="gross_font blue_color"></h4>
              <p id="dataValue" class="thin_font"></p>
            </div>
            <div class="modal-footer">

                  <button class="btn modal-action modal-close waves-effect waves-green btn-flat" type="button">
                      Close
                      <i class="material-icons right">send</i>
                  </button>
            </div>
        </div>
    </div>
</div>
<!-- div modal -->

<header class="blue_color_background" id="header_img_layout">
    <div class="container">
        <div class="row height_sections">
            <div class="col s5 offset-s1">
                <div class="valign-wrapper height_sections">
                    <a href="{{ path('indexpage') }}">
                        <img src="{{ asset('bundles/site/images/website/logo.png') }}" alt="logo" />
                    </a>
                </div>
            </div>
            <div class="col s6">
                <div class="height_sections">
                    {% if app.user %}
                        <div class="col s5 right top_space color_text_white">
                            <p>
                                <span class="welcome_class gross_font">
                                    Welcome!
                                </span>
                            </p>
                            <p>
                                <ul class="gross_font">
                                    <li class="main-menu-list">
                                        <a href="#!" class="dropdown-button header_link" data-activates="dropdown-login"
                                           data-beloworigin="true">
                                            <strong class="menu_fit_section">
                                                {{ app.user.username }}!
                                                <i class="material-icons">arrow_drop_down</i>
                                            <strong>
                                        </a>
                                    </li>
                                </ul>
                            </p>
                        </div>

                        <!-- Menu -->
                        <ul id="dropdown-login" class="dropdown-content login-menu">
                            <li>
                                <a href="{{ path('users_info', { 'id': app.user.id }) }}">
                                    My Information
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('logout') }}">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    {% else %}
                        <div class="col s4 right top_space">
                            <a href="{{ path('login') }}" class="waves-effect waves-light btn transparent_buttons_header gross_font">
                                Sign In
                            </a>
                        </div>
                        <div class="col s4 right top_space">
                            <a href="{{ path('register') }}" class="waves-effect waves-light btn transparent_buttons_header gross_font">
                                Sign up
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row center thin_font">
            <div class="col s4">
                <a href="{{ path('how_it_works') }}" class="links_hover">
                    How it works?
                </a>
            </div>
            <div class="col s4">
                <a href="{{ path('about') }}" class="links_hover">
                    About us
                </a>
            </div>
            <div class="col s4">
                <a href="{{ path('contact') }}" class="links_hover">
                    Contact us
                </a>
            </div>
        </div>
    </div>
</header>

<!-- Dropdown menu section -->
<nav class="blue_color_background">
    <div class="container">
        {% if app.user %}
            <div class="nav-wrapper">
        {% else %}
            <div class="nav-wrapper center_menu_projects">
        {% endif %}
            <ul class="center hide-on-med-and-down">
                <li class="main-menu-list">
                    <a class="dropdown-button font_size_menu gross_font" href="#!" data-activates="dropdown-posts" data-beloworigin="true">
                        Projects
                    </a>
                </li>
                {% if app.user is not null or app.user is not empty %}
                    {% if app.user %}
                        <li class="main-menu-list">
                            <a href="#!" class="dropdown-button font_size_menu gross_font" data-activates="dropdown-bids" data-beloworigin="true">
                                My Bids
                            </a>
                        </li>
                    {% endif %}
                    {% if app.user.isAdmin == 1 %}
                        <li class="main-menu-list">
                            <a href="#!" class="dropdown-button font_size_menu gross_font" data-activates="dropdown-admin" data-beloworigin="true">
                                Administrator
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- menus -->
<ul id="dropdown-posts" class="dropdown-content main-menu gross_font">
    {% if app.user %}
        <li>
            <a href="{{ path('web_posts_dashboard', { 'id': app.user.id }) }}">
                Dashboard
            </a>
        </li>
        <li>
            <a href="{{ path('web_post_new') }}">
                Create a Project
            </a>
        </li>
        <li>
            <a href="{{ path('paid_projects_done') }}">
                Paid Projects
            </a>
        </li>
        <li>
            <a href="{{ path('paid_projects_pending') }}">
                Pending Projects
            </a>
        </li>
    {% endif %}
    <li>
        <a href="{{ path('web_posts_search') }}">
            Search a Project
        </a>
    </li>
</ul>
{% if app.user is not null or app.user is not empty %}
    {% if app.user %}
        <ul id="dropdown-bids" class="dropdown-content main-menu gross_font">
            <li>
                <a href="{{ path('my_bids') }}">
                    My Bids
                </a>
            </li>
            <li>
                <a href="{{ path('end_bids') }}">
                    End Bids
                </a>
            </li>
        </ul>
    {% endif %}
    {% if app.user.isAdmin == 1 %}
        <ul id="dropdown-admin" class="dropdown-content main-menu gross_font">
            <li>
                <a href="{{ path('admin_list_section') }}">
                    Panel Admin
                </a>
            </li>
            <li>
                <a href="{{ path('admin_fake_projects') }}">
                    Jobs Reported
                </a>
            </li>
        </ul>
    {% endif %}
{% endif %}
<!-- menus -->

<div class="container content-minimum-height" id="main-container">
    {% block content %}{% endblock %}
</div>

<footer class="page-footer green_color_background">
    <div class="container">
        <div class="row">
            <div class="col s3">
                <a href="">
                    <img src="{{ asset('bundles/site/images/website/facebook.png') }}" width="40"
                         height="40" alt="Twitter Social Network" />
                </a>
                <a href="">
                    <img src="{{ asset('bundles/site/images/website/twitter.png') }}" width="40"
                         height="40" alt="Twitter Social Network" />
                </a>
            </div>
            <div class="col s6 center">
                <div class="col s12 gross_font">
                    "THE PROJECT THAT YOU WAS LOOKING FOR IS HERE"
                </div>
                <div class="col s12 thin_font">
                    <a href="{{ path('how_it_works') }}" class="links_hover">
                        How it works
                    </a> |
                    <a href="{{ path('about') }}" class="links_hover">
                        About us
                    </a> |
                    <a href="{{ path('contact') }}" class="links_hover">
                        Contact us
                    </a>
                    |
                    <a href="{{ path('termsconditions') }}" class="links_hover">
                        Terms and Conditions
                    </a>
                </div>
            </div>
            <div class="col s3">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container thin_font">
            © 2018 Copyright thecontractordepots.com
        </div>
    </div>
</footer>

<!-- load js libraries -->
<script type="text/javascript" id="scripts"
                               src="{{ asset('bundles/site/js/libs/loader.js') }}"
                               data-path="{{ asset('bundles/site/js') }}"
                               data-script="{% block libraries %}{% endblock %}"></script>
