<div class="row center aligned margin_breadcrumbs">
{% include '@Site/breadcrumbs.html.twig' with breadcrumbs %}
<div class="eight wide column">
    <h2 class="thin_font">
        Sign In!
    </h2>
</div>
</div>
<!--div class="row" -->
<div class="sixteen wide column">
    Error section
</div>
<!--/div>
<div class="row"-->
<div class="three wide column">&nbsp;</div>
<div class="ten wide column">
    <form action="{{ path('login_check') }}" method="post" class="ui large form">
        <div class="ui stacked segment">
            <div class="field">
                <label>Username</label>
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" class="" placeholder="Username" required="" id="email" name="_username" />
                </div>
            </div>
            <div class="field">
                <label>Password</label>
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" class="" placeholder="Password" required="" id="password" name="_password" />
                </div>
            </div>
            <button class="ui fluid large teal submit button">
                Login
            </button>
        </div>
    </form>
    <div class="ui message center_text_aling">
        Forgot your password?
        <a href="{{ path('sendEmail') }}" class="thin_font">
            Click here!
        </a>
    </div>
</div>
<div class="three wide column">&nbsp;</div>
<!--/div>
<div class="row"-->
<div class="sixteen wide column">&nbsp;</div>
<!--/div-->

<!--- footer --->
<div class="ui grid container">
    <div class="four wide column">
        <a href="">
            <img src="{{ asset('bundles/site/images/website/facebook.png') }}" width="40"
                 height="40" alt="Twitter Social Network" />
        </a>
        <a href="">
            <img src="{{ asset('bundles/site/images/website/twitter.png') }}" width="40"
                 height="40" alt="Twitter Social Network" />
        </a>
    </div>
    <div class="eight wide column gross_font">
        "THE PROJECT THAT YOU WAS LOOKING FOR IS HERE"
    </div>
    <div class="four wide column">
        &nbsp;
    </div>
</div>
<div class="ui grid container">
    <div class="four wide column">
        &nbsp;
    </div>
    <div class="eight wide column thin_font">
        <a href="{{ path('how_it_works') }}" class="links_hover">
            How it works
        </a> |
        <a href="{{ path('about') }}" class="links_hover">
            About us
        </a> |
        <a href="{{ path('contact') }}" class="links_hover">
            Contact us
        </a>
        |
        <a href="{{ path('termsconditions') }}" class="links_hover">
            Terms and Conditions
        </a>
    </div>
    <div class="four wide column">
        &nbsp;
    </div>
</div>
<div class="ui grid container">
    <div class="sixteen wide column thin_font">
        © 2018 Copyright thecontractordepots.com
    </dv>
</div>

<div class="ui footer segment green_color_background round_borders">
    footer
</div>
