----- BANNERS

<a href="#" className="btn tooltipped table_icons_space" data-position="left" data-delay="50"
   data-tooltip="Edit Record" onClick={(e) => this.toggle(banners, 'update', e)}>
    <i className="material-icons">
        mode_edit
    </i>
</a>
<a href="#" className="btn tooltipped table_icons_space" data-position="botton" data-delay="50"
    data-tooltip="View Details" onClick={(e) => this.toggle(banners, 'view', e)}>
    <i className=" material-icons">
        remove_red_eye
    </i>
</a>
<a href="#" className="btn tooltipped" data-position="right" data-delay="50"
   data-tooltip="Delete Record" onClick={(e) => this.toggle(banners, 'delete', e)}>
    <i className="material-icons">
        delete_sweep
    </i>
</a>


----- HOW IT WORKS
<a href="#" className="btn tooltipped table_icons_space" data-position="left" data-delay="50"
   data-tooltip="Edit Record" onClick={(e) => this.toggle(works, 'update', e)}>
    <i className="material-icons">
        mode_edit
    </i>
</a>
<a href="#" className="btn tooltipped table_icons_space" data-position="botton" data-delay="50"
    data-tooltip="View Details" onClick={(e) => this.toggle(works, 'view', e)}>
    <i className=" material-icons">
        remove_red_eye
    </i>
</a>
<a href="#" className="btn tooltipped" data-position="right" data-delay="50"
   data-tooltip="Delete Record" onClick={(e) => this.toggle(works, 'delete', e)}>
    <i className="material-icons">
        delete_sweep
    </i>
</a>

----- TERM AND CONDITIONS
<a href="#" className="btn tooltipped table_icons_space" data-position="left" data-delay="50"
   data-tooltip="Edit Record" onClick={(e) => this.toggle(banners, 'update', e)}>
    <i className="material-icons">
        mode_edit
    </i>
</a>
<a href="#" className="btn tooltipped table_icons_space" data-position="botton" data-delay="50"
    data-tooltip="View Details" onClick={(e) => this.toggle(banners, 'view', e)}>
    <i className=" material-icons">
        remove_red_eye
    </i>
</a>
<a href="#" className="btn tooltipped" data-position="right" data-delay="50"
   data-tooltip="Delete Record" onClick={(e) => this.toggle(banners, 'delete', e)}>
    <i className="material-icons">
        delete_sweep
    </i>
</a>

------ ABOUT US
<a href="#" className="btn tooltipped table_icons_space" data-position="left" data-delay="50"
   data-tooltip="Edit Record" onClick={(e) => this.toggle(banners, 'update', e)}>
    <i className="material-icons">
        mode_edit
    </i>
</a>
<a href="#" className="btn tooltipped table_icons_space" data-position="botton" data-delay="50"
    data-tooltip="View Details" onClick={(e) => this.toggle(banners, 'view', e)}>
    <i className=" material-icons">
        remove_red_eye
    </i>
</a>
<a href="#" className="btn tooltipped" data-position="right" data-delay="50"
   data-tooltip="Delete Record" onClick={(e) => this.toggle(banners, 'delete', e)}>
    <i className="material-icons">
        delete_sweep
    </i>
</a>
