{% extends '@Site/layout.html.twig' %}

{% block title %} - Send Email {% endblock %}

{% block content %}
    <div class="row">
        {% include '@Site/breadcrumbs.html.twig' with breadcrumbs %}
        <div class="col s6">
            <h2 class="right-align thin_font">
                Forgot Password
            </h2>
        </div>
    </div>
    <div class="row">
        <input type="hidden" id="_csrf_token" name="_csrf_token" value="{{ token }}" />
        <input type="hidden" id="name" name="name" value="{{ name }}" />
        <input type="hidden" id="source" name="sourceForm" value="{{ source }}" />
        <div id="app"></div>
    </div>
{% endblock %}

{% block reactlibraries %}
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/hidden.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/email.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/successMessage.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/errors.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/users/send_mail/sendEmail.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/users/send_mail/react_sendEmail.js') }}"></script>
{% endblock %}
