{% extends '@Site/layout.html.twig' %}

{% block title %} - Post Detail {% endblock %}

{% block content %}
    <div class="row">
        {% include '@Site/breadcrumbs.html.twig' with breadcrumbs %}
        <div class="col s6">
            <h2 class="right-align thin_font">
                Show Project
            </h2>
        </div>
    </div>
    <div class="row">
        <input type="hidden" id="post.id" name="post.id" value="{{ id }}" />
        {% if app.user %}
        	<div id="app"></div>
            <input type="hidden" id="_csrf_token" name="_csrf_token" value="{{ token }}" />
            <input type="hidden" id="name" name="name" value="{{ name }}" />
            <input type="hidden" id="source" name="sourceForm" value="{{ source }}" />
            <input type="hidden" id="_id" name="userId" value="{{ app.user.id }}" />
            <input type="hidden" id="user.username" name="user.username" value="{{ app.user.username }}" />
        {% else %}
           	<div id="app"></div>
            <input type="hidden" id="_id" name="userId" value="0" />
            <input type="hidden" id="user.username" name="user.username" value="Guest" />
        {% endif %}
    </div>
{% endblock %}

{% block reactlibraries %}
	<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/input.js') }}"></script>
	<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/textarea.js') }}"></script>
	<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/select.js') }}"></script>
    <script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/errors.js') }}"></script>
    <script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/successMessage.js') }}"></script>
	<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/posts/post-show.js') }}"></script>
	<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/posts/react-post-show.js') }}"></script>
{% endblock %}
