{% extends '@Site/layout.html.twig' %}

{% block title %} - How it works {% endblock %}

{% block content %}
    <div class="row">
        {% include '@Site/breadcrumbs.html.twig' with breadcrumbs %}
        <div class="col s6">
            <h2 class="right-align thin_font">
                How it works!
            </h2>
        </div>
    </div>
    <div class="row justify_align">
        <div class="col s12 thin_font">
            {{ description }}
        </div>
        <div class="col s12 center">
            {% if file is not null %}
                {% if typeFile == 0 %}
                    <img src="{{ file }}" alt="How it works!" />
                {% else %}
                {% endif %}
            {% endif %}
        </div>
        <div class="col s12 center">
            {% if url is not null %}
            {% endif %}
        </div>
    </div>
{% endblock %}
