{% extends '@Site/layout.html.twig' %}

{% block title %}
	{% if id is not defined or id is null or id == 0 %}
 	 - New Post
 	{% else %}
     - Edit Post
	{% endif %}
{% endblock %}

{% block content %}
    <div class="two column row margin_breadcrumbs">
        {% include '@Site/breadcrumbs.html.twig' with breadcrumbs %}
        <div class="eight wide column center aligned">
            <h2 class="thin_font">
                {% if id is not defined or id is null or id == 0 %}
			  		New Post
			 	{% else %}
			    	Edit Post
				{% endif %}
            </h2>
        </div>
    </div>
    <div class="three column row">
        <div class="one wide column">&nbsp;</div>
        <div class="fourteen wide column">
            <input type="hidden" id="_csrf_token" name="_csrf_token" value="{{ token }}" />
    	    <input type="hidden" id="name" name="name" value="{{ name }}" />
    	    <input type="hidden" id="source" name="sourceForm" value="{{ source }}" />
        	<input type="hidden" id="user.username" name="user.username" value="{{ app.user.username }}" />
            <input type="hidden" id="user.id" name="user.id" value="{{ app.user.id }}" />
            <input type="hidden" id="post.id" name="post.id" value="{{ id }}" />
        	<div id="app"></div>
        </div>
        <div class="one wide column">&nbsp;</div>
    </div>
{% endblock %}

{% block reactlibraries %}
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/input.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/inputFile.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/textarea.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/select.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/errors.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/successMessage.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/posts/postNew.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/posts/react-post-edit.js') }}"></script>
{% endblock %}
