{% extends '@Site/layout.html.twig' %}

{% block title %} - Posts Offers {% endblock %}

{% block content %}
    <div class="row">
        <div id="app">Loading content...</div>
    </div>
{% endblock %}

{% block reactlibraries %}
	<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/posts/posts-home.js') }}"></script>
	<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/posts/react-posts.js') }}"></script>
{% endblock %}