{% extends '@Site/layout.html.twig' %}

{% block title %} - Admin About Us {% endblock %}

{% block content %}
    <div class="row">
        <input type="hidden" id="_csrf_token" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        <input type="hidden" id="source" name="sourceForm" value="{{ source }}" />
        <div id="app"></div>
    </div>
{% endblock %}
{% block reactlibraries %}
{% endblock %}
