{% extends '@Site/layout.html.twig' %}

{% block title %} - Admin How It Works {% endblock %}

{% block content %}
    <div class="row">
        <input type="hidden" id="_csrf_token" name="_csrf_token" value="{{ token }}" />
        <input type="hidden" id="name" name="name" value="{{ name }}" />
        <input type="hidden" id="source" name="sourceForm" value="{{ source }}" />
        <div id="app"></div>
    </div>
{% endblock %}

{% block reactlibraries %}
{% endblock %}
