{% extends '@Site/layout.html.twig' %}

{% block title %} - List Admin {% endblock %}

{% block content %}
    <div class="two column row center aligned margin_breadcrumbs">
        {% include '@Site/breadcrumbs.html.twig' with breadcrumbs %}
        <div class="eight wide column right aligned">
            <h2 class="thin_font">
                List Admin
            </h2>
        </div>
    </div>
    <div class="three column row">
        <div class="one wide column">&nbsp;</div>
        <div class="fourteen wide column">
            <input type="hidden" id="source" name="sourceForm" value="{{ source }}" />
            <input type="hidden" id="name" name="name" value="{{ name }}" />
            <input type="hidden" id="_csrf_token" name="_csrf_token" value="{{ token }}" />
            <div id="app"></div>
        </div>
        <div class="one wide column">&nbsp;</div>
    </div>
{% endblock %}

{% block reactlibraries %}
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/hidden.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/input.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/textarea.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/inputFile.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/select.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/youtube.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/errors.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/successMessage.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/admin/administrator/admin.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/admin/administrator/react-admin.js') }}"></script>
{% endblock %}
