{% extends '@Site/layout.html.twig' %}

{% block title %} - List Banners {% endblock %}

{% block content %}
    <div class="row">
        <input type="hidden" id="source" name="sourceForm" value="{{ source }}" />
        <div id="app"></div>
    </div>
{% endblock %}

{% block reactlibraries %}
{% endblock %}
