{% extends '@Site/layout.html.twig' %}

{% block title %} - My Bids {% endblock %}

{% block content %}
    <div class="two column row center aligned margin_breadcrumbs">
        {% include '@Site/breadcrumbs.html.twig' with breadcrumbs %}
        <div class="eight wide column right aligned">
            <h2 class="thin_font">
                My Bids
            </h2>
        </div>
    </div>
    <div class="three column row">
        <div class="one wide column">&nbsp;</div>
        <div class="fourteen wide column">
            <input type="hidden" id="userId" name="userId" value="{{ app.user.id }}" />
            <input type="hidden" id="source" name="sourceForm" value="{{ source }}" />
            <div id="app"></div>
        </div>
        <div class="one wide column">&nbsp;</div>
    </div>
{% endblock %}

{% block reactlibraries %}
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/errors.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/successMessage.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/bids/myBids/myBids.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/bids/myBids/react-mybids.js') }}"></script>
{% endblock %}
