{% extends '@Site/layout.html.twig' %}

{% block title %} - About Us {% endblock %}

{% block content %}
    <div class="two column row margin_breadcrumbs">
        {% include '@Site/breadcrumbs.html.twig' with breadcrumbs %}
        <div class="eight wide column right aligned">
            <h2 class="thin_font">
                About Us!
            </h2>
        </div>
    </div>
    <div class="two column row">
        <div class="one wide column">
            <div class="thin_font">
                {{ description }}
            </div>
        </div>
        <div class="one wide column">
            &nbsp;
        </div>
    </div>
    <div class="one columb row">
        <div class="one center align wide column">
            {% if file is not null %}
                {% if type_file == 0 %}
                    <img class="ui fluid rounded image" src="{{ file }}" alt="About Us!" />
                {% else %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="one column row">
        <div class="one center align wide column">
            {% if url is not null %}
                <div class="url videos">
                    <div class="ui embed" data-source="youtube" data-id=""></div>
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#overlay_loader").css("display", "none");
            }, 3000);
        });
    </script>
{% endblock %}
