{% extends '@Site/layout.html.twig' %}

{% block title %} - Home {% endblock %}

{% block content %}
    <div>&nbsp;</div>
    <dv class="one column row">
        <div class="sixteen center aligned wide column">
            <div class="ui steps">
                <div class="step">
                    <i class="pencil alternate icon"></i>
                    <div class="content">
                        <div class="title">
                            Post your Project
                        </div>
                        <div class="description">
                            Post the Project you want to offer to the users
                        </div>
                    </div>
                </div>
                <div class="step">
                    <i class="money bill alternate outline icon"></i>
                    <div class="content">
                        <div class="title">
                            Get bids
                        </div>
                        <div class="description">
                            Get a lot of bids from users rgistered
                        </div>
                    </div>
                </div>
                <div class="step">
                    <i class="check circle outline icon"></i>
                    <div class="content">
                        <div class="title">
                            Get it done!
                        </div>
                        <div class="description">
                            Select the best bid for your project and start to work!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="one column row">
        <div class="sixteen wide column">
            <div id="gallery" style="display: none;">
                {% for banner in banners %}
                    {% if banner.type_file == 0 %}
                        <img alt="{{ banner.description }}"
                             src="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/{{ banner.file }}"
                             data-image="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/{{ banner.file }}"
                             data-description="{{ banner.description }}" />
                    {% else %}
                        {% if banner.typeVideo != '' %}
                            <img alt="{{ banner.description }}"
                                 data-type="{{ banner.typeVideo }}"
                                 data-videoid="{{ banner.idVideo }}"
                                 data-description="{{ banner.description }}" />
                        {% else %}
                            <img alt="Html5 Video"
                                 src="{{ banner.url }}"
                                 data-type="html5video"
                                 data-image=""
                                 data-videoogv="{{ banner.url }}"
                                 data-videowebm="{{ banner.url }}"
                                 data-videomp4="{{ banner.url }}"
                                 data-description="{{ banner.description }}" />
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="one column row">
        <div class="sixteen wide column">&nbsp;</div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="one column row">
        <div class="sixteen center aligned wide column">
            <div class="blue_color gross_font font-size-title">
                Learn more about Contractors Bids
            </div>
        </div>
    </div>
    <div class="one column row">
        <div class="sixteen wide column">
            <div class="blue_color thin_font font-size-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque finibus tincidunt metus. Aliquam erat volutpat.
                In placerat elementum erat, nec gravida dui sodales a. Nulla malesuada eget urna rhoncus tempus. Sed sit amet finibus
                urna, eget laoreet mi. Aenean fermentum tortor quis tristique viverra. Etiam sodales quam non laoreet vulputate.
                Mauris ac tellus et dui iaculis porttitor quis eu justo. Vestibulum accumsan sit amet dolor ut rutrum. Integer
                bibendum mauris sapien.
                In placerat elementum erat, nec gravida dui sodales a. Nulla malesuada eget urna rhoncus tempus. Sed sit amet finibus
                urna, eget laoreet mi. Aenean fermentum tortor quis tristique viverra. Etiam sodales quam non laoreet vulputate.
                Mauris ac tellus et dui iaculis porttitor quis eu justo. Vestibulum accumsan sit amet dolor ut rutrum. Integer
                bibendum mauris sapien.
                In placerat elementum erat, nec gravida dui sodales a. Nulla malesuada eget urna rhoncus tempus. Sed sit amet finibus
                urna, eget laoreet mi. Aenean fermentum tortor quis tristique viverra. Etiam sodales quam non laoreet vulputate.
                Mauris ac tellus et dui iaculis porttitor quis eu justo. Vestibulum accumsan sit amet dolor ut rutrum. Integer
                bibendum mauris sapien.
            </div>
        </div>
    </div>
    <div class="one column row">
        <div class="sixteen wide column">&nbsp;</div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="one column row">
        <div class="sixteen gross_font blue_color font-size-title wide column">
            Recent Projects ....
        </div>
    </div>
    <div class="one column row">
        {% if totalPost != 0 %}
            <div class="sixteen wide column">
                <div class="ui divided items">
                {% for post in posts %}
                    <div class="item">
                        <div class="image">
                            <img src="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/{{ asset(post.path) }}" />
                        </div>
                        <div class="content">
                            <a class="header">
                                {{ post.post_name }}
                            </a>
                            <div class="meta">
                                <span class="cinema">
                                    {{ post.name_jobs_categories }}
                                </span>
                            </div>
                            <div class="description">
                                <span>
                                    {{ post.description }}
                                </span>
                            </div>
                            <div class="extra">
                                <a href="{{ path('web_post_show', { id: post.id_post }) }}"
                                   class="ui right floated primary button links_hover_blue thin_font">
                                    Project Details
                                    <i class="right chevron icon"></i>
                                </a>
                                <div class="ui label">
                                    <i class="globe icon"></i>
                                    {{ post.name_city }}, {{ post.capital_city }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div>
                &nbsp;
            </div>
            <div class="sixteen right aligned wide column font-size-title" style="float: right !important">
                <a class="ui large teal button links_hover_blue" href="{{ path('web_posts_search') }}">
                    See more projects
                </a>
            </div>
        {% else %}
            <div class="sixteen center aligned wide column">
                <div class="thin_font font-size-body blue_color">
                    <b>
                        There are no open projects currently
                    </b>
                </div>
            </div>
        {% endif %}
    </div>
    <script>
        jQuery("#gallery").unitegallery({
				gallery_theme:            "grid",
				theme_panel_position:     "bottom",
                gallery_width:            "auto",
                gallery_autoplay:         true,
                gallery_preserve_ratio:   true,
                slider_enable_zoom_panel: true,
                slider_scale_mode:        "fit",
			});

        $(document).ready(function () {
            setTimeout(function () {
                $("#overlay_loader").css("display", "none");
            }, 3000);
        });
    </script>
{% endblock %}
