{% extends '@Site/layout.html.twig' %}

{% block title %} - Register an Account {% endblock %}

{% block content %}
    <div class="two column row center aligned margin_breadcrumbs">
        {% include '@Site/breadcrumbs.html.twig' with breadcrumbs %}
        <div class="eight wide column right aligned">
            <h2 class="thin_font">
                Sign Up!
            </h2>
        </div>
    </div>
    <div class="one column row">
        <div class="one wide column">&nbsp;</div>
        <div class="fourteen wide column">
            <input type="hidden" id="_csrf_token" name="_csrf_token" value="{{ token }}" />
            <input type="hidden" id="name" name="name" value="{{ name }}" />
            <input type="hidden" id="source" name="sourceForm" value="{{ source }}" />
            <div id="app"></div>
        </div>
        <div class="one wide column">&nbsp;</div>
    </div>
{% endblock %}

{% block reactlibraries %}
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/hidden.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/input.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/email.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/tel.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/password.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/checkbox.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/components/radio.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/errors.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/templates/successMessage.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/users/newAccount/newAccount.js') }}"></script>
<script type="text/babel" src="{{ asset('bundles/site/js/custom/react/users/newAccount/react-newAccount.js') }}"></script>
{% endblock %}
