{% extends '@Site/layout.html.twig' %}

{% block title %} - Create Account {% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <h2>
                Success!
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {{ message }}
        </div>
    </div>
{% endblock %}
