{% extends '@Site/layout.html.twig' %}

{% block title %} - Register an Account {% endblock %}

{% block content %}
    <div class="row margin_top_messages">
        {% include '@Site/breadcrumbs.html.twig' with breadcrumbs %}
        <div class="col s12 center-align text_message_templates">
            <span class="gross_font blue_color">
                The payment process has been failed.<br />
                Please contact support team <supportTeam@contractorsbid.com> to solve the issue.<br />
                Also you can contact them using the contact form click <a href="{{ path('contact') }}">here</a>.
            </span>
        </div>
    </div>
{% endblock %}
