{% extends '@Site/layout.html.twig' %}

{% block title %} - Payment Success {% endblock %}

{% block content %}
    <div class="two column row center aligned margin_breadcrumbs">
        {% include '@Site/breadcrumbs.html.twig' with breadcrumbs %}
        <div class="eight wide column right aligned">
            <h2 class="thin_font">
                Payment Success
            </h2>
        </div>
    </div>
    <div class="three column row">
        <div class="one wide column">&nbsp;</div>
        <div class="fourteen wide column">
            <div class="text_message_templates">
                <div class="one column row">
                    <div class="one center aligned wide column">
                        <div class="gross_font blue_color">
                            Your payment was made successfully.
                        </div>
                    </div>
                </div>
                <div class="one column row">
                    <div class="one wide column">
                        The project information is:
                    </div>
                </div>
                <div class="one column row">
                    <div class="one wide column">
                        Project Name: {{ postName }}
                    </diV>
                </div>
                <div class="one column row">
                    <div class="one wide column">
                        Description: {{ description }}
                    </diV>
                </div>
                <div class="one column row">
                    <div class="one wide column">
                        Money Bid: {{ moneybidder }}
                    </diV>
                </div>
                <div class="one column row">
                    <div class="one wide column">
                        Username Owner: {{ username }}
                    </diV>
                </div>
                <div class="one column row">
                    <div class="one wide column">
                        Email Owner: {{ email }}
                    </diV>
                </div>
                <div class="one column row">
                    <div class="one wide column">
                        Name Owner: {{ name }}
                    </diV>
                </div>
                <div class="one column row">
                    <div class="one wide column">
                        &nbsp;
                    </div>
                </div>
                <div class="one column row">
                    <div class="one center aligned wide column">
                        Thanks for using <a href="{{ path('indexpage') }}"> contractorsbids.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="one wide column">&nbsp;</div>
    </div>
{% endblock %}
