.blue_color_background {
    background-color: #589BB4 !important;
}

.blue_color {
    color: #589BB4 !important;
}

.green_color_background {
    background-color: #57B17C !important;
}

.green_color_text {
    color: #57B17C !important;
}

.color_text_white {
    color: #FFFFFF;
    font-size: 1em;
}

.transparent_buttons_header {
    background-color: transparent !important;
    border: solid #FFFFFF;
}

.error_color {
    background-color: #FF0000;
}

.color_text_no_data {
    color: #FF0000;
}

.success_color {
    background-color: green;
}

.colors_links {
    color: #FFFFFF !important;
}

.card_background_color {
    background-color: #A3AEBA !important;
}

.color_title_comments {
    color: #2BBBAD !important;
}

.winner_color {
    color: #FF0000 !important;
}


/**
 * NEW STYLES
 */
.border_color_menus {
    border-color: white !important;
}

.border-right-color {
    border-right: 1px solid #FFFFFF;
}

.ui.menu .ui.dropdown .menu > .item, .ui.menu .ui.dropdown .menu > .item:hover {
    color: #FFFFFF !important;
}
