/**
 * INPUT
 */
.input_size {
    height: 2rem !important;
}

.top_space_components_form {
    margin-top: 5px !important;
}

/**
 * BUTTONS
 */
.ui.basic.white.button,
.ui.basic.white.buttons .button {
    -webkit-box-shadow : 0 0 0 1px #FFFFFF inset !important;
    box-shadow         : 0 0 0 1px #FFFFFF inset !important;
    color              : #FFFFFF !important;
}

.ui.basic.white.button:hover,
.ui.basic.white.buttons .button:hover {
    background-color: transparent !important;
}
