/**
 * NEW STYLES
 */
.center_text_aling {
    text-align: center !important;
}


/**
 * OLD STYLES
 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.height_sections {
    height: 180px;
}

#header_img_layout {
    background-image: url('../../images/website/header.jpg');
    height: 250px;

}

.thin_letter {
    font-family: Century gothic;
}

.strong_letter {
    font-family: Impact;
}

.content-minimum-height {
    min-height: 38rem;
}

.hide_forms {
    display: none;
}

.textarea_size {
    width: 58em !important;
}

.center_menu_projects {
    margin: 0 auto !important;
    display: table !important;
}

.menu_fit_section {
    vertical-align: top;
}

#overlay {
    position: fixed;
    display: none;
    background-color: #000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.video-container {
    position: relative !important;
    padding-bottom: 56.25% !important;
    height: 0 !important;
    overflow: hidden !important;
}

.textSize {
    height: 145px !important;
    width: auto !important;
    margin-top: 10px !important;
    overflow: auto !important;
}

.padding-left {
    padding-left: 0 !important;
}

.center-spiner {
    margin-left: 45%;
}

.clear_floating {
    clear: both;
}

/****
 * new modal until now
 *****/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.modal-main {
     position:fixed;
     background: white;
     width: 85%;
     height: 80%;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%);
     padding: 5px;
     overflow: scroll;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}
