.dropdown-content.main-menu {
    background-color: #589BB4;
    margin: 0;
    display: none;
    min-width: 150px; /* Changed this to accomodate content width */
    max-height: auto;
    margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
    overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
    opacity: 0;
    position: relative;
    white-space: nowrap;
    z-index: 1000;
    will-change: width, height;
}

.dropdown-content.main-menu.active > li > a {
    color: #FFFFFF;
}

.dropdown-content.main-menu > li:hover {
    background-color: #589BB4;
}

.main-menu-list {
    min-width: 150px;
    max-width: auto;
}

/**
 * MENU HEADER LOGIN
 */
 .dropdown-content.login-menu {
     background-color: #589BB4;
     margin: 0;
     display: none;
     min-width: 150px; /* Changed this to accomodate content width */
     max-height: auto;
     margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
     overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
     opacity: 0;
     position: relative;
     white-space: nowrap;
     z-index: 1000;
     will-change: width, height;
 }

 .dropdown-content.login-menu.active > li > a {
     color: #FFFFFF;
 }

 .dropdown-content.login-menu > li:hover {
     background-color: #397896;
 }

 .main-menu-list {
     min-width: 150px;
     max-width: auto;
 }
