.welcome_class {
    font-size: 18px;
}

.text_message_templates {
    font-size: 2em;
}

.text_message_inner_message_template {
    font-size: 1.5em;
}

.font_body_template {
    font-size: 1.8em;
}

.thin_font {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif !important;
    font-variant: normal;
}

.gross_font {
    font-family: 'justTellMeWhat';
    font-variant: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'justTellMeWhat';
    src: url('../fonts/tellMeWhat/JustTellmeWhatRegular(Version 2).otf');
}

.justify_align {
    text-align: justify;
}

/**
 * FONTS SIZES
 */
.font_size_menu {
    font-size: 18px;
}

.font-size-title {
    font-size: 1.5em;
}

.font-size-inner-comment {
    font-size: 1em;
}

.font-size-body {
    font-size: 1.2em;
}

.font-size-redirect {
    font-size: 2.5em;
}

.font-size-link-footer {
    font-size: 1.2em !important;
}
