a.links_hover {
    text-decoration: none;
    position: relative;
    color: #FFFFFF;
}

a.links_hover:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #FFFFFF;
    transition: 0.4s;
}

a.links_hover:hover:after {
    width: 100%;
}

a.header_link {
    color: #FFFFFF !important;
}
