.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -999999;
    cursor: pointer;
}

.loader:empty {
  position: absolute;
  /*top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 10em;
  height: 10em;*/
  width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  border: 1.5em solid rgba(0, 0, 0, 0.2);
  border-left: 1.5em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  background-color:#fff;
  /*IE*/
  filter: alpha(opacity=50);
  /*FireFox Opera*/
  opacity: .50;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderSpin {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/****/
#overlay_loader {
    position: fixed;
    display: inline;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    cursor: pointer;
}
