/**
 * NEW STYLES
 */
.top_admin_accordion {
    margin-top: 3rem !important;
}

.top_space_buttons_header {
    margin-top: 1.5rem !important;
}


/**
 * OLD STYLES
 */
.margin_breadcrumbs {
    margin-top: 50px !important;
}

.top_space {
    margin-top: 1em;
}

.top_space_tabs {
    margin-top: 75px;
}

.left_move_textarea {
    margin-left: 100px !important;
}

.table_icons_space {
    margin-right: 15px
}

.right_separate_buttons {
    margin-right: 5px;
}

.margin_modal_react {
    margin-top : -300px;
    z-index    : 1000;
    width      : 70% !important;
}

.margin_modal_react_loader {
    margin-top : -300px;
    z-index    : 1000;
    width      : 70% !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent !important;
}

.margin_top_messages {
    margin-top: 30px;
}

.left_separate_button {
    margin-left: 5px;
}

.left_date_separation {
    margin-left: 25px;
}

.round_borders {
    border-radius: 0px !important;
    border: 0px !important;
}

.margin-no-margin {
    margin: 0rem 0 !important;
}
