{% extends '@Site/layout.html.twig' %}

{% block title %} - Login {% endblock %}

{% block content %}
    <div class="two column row margin_breadcrumbs">
        {% include '@Site/breadcrumbs.html.twig' with breadcrumbs %}
        <div class="eight right aligned wide column">
            <h2 class="thin_font">
                Sign In!
            </h2>
        </div>
    </div>
    <div class="three colum row">
        <div class="one wide column">&nbsp;</div>
        <div class="fourteen wide column">
            {% if error %}
                <div class="ui negative message">
                    <i class="close icon"></i>
                    <div class="header">
                        {{ error.message }}
                    </div>
                    <p>
                        Username / Password Incorrects. <br />
                        Please verify your credentials.
                    </p>
                </div>
            {% endif %}
            <form action="{{ path('login_check') }}" method="post" class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <label>Username</label>
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" class="" placeholder="Username" required="" id="email" name="_username" />
                        </div>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" class="" placeholder="Password" required="" id="password" name="_password" />
                        </div>
                    </div>
                    <button class="ui fluid large teal submit button">
                        Login
                    </button>
                </div>
            </form>
            <div class="ui warning message center_text_aling">
                Forgot your password?
                <a href="{{ path('sendEmail') }}" class="thin_font">
                    Click here!
                </a>
            </div>
        </div>
        <div class="one wide column">&nbsp;</div>
    </div>
    <div class="one column row">&nbsp;</div>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#overlay_loader").css("display", "none");
            }, 3000);
        });
    </script>
{% endblock %}

{% block javascript %}
<script src="{{ asset('bundles/site/js/custom/customLibs/loginValidations.js') }}"></script>
{% endblock %}
